* {
	color: #333;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	line-height: 1.5;
}

a {
	color: black;
	text-decoration: none;
}

button {
	cursor: pointer;
}

ul {
	list-style-type: none;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
}

/* Navigation */
header {
	padding: 0.75rem 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 1.5rem;
}

nav {
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

nav ul li {
	font-weight: bold;
}
/* Hero */
#hero {
	min-height: 450px;
	background-color: rebeccapurple;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#search {
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 0.5rem 1.75rem;
}

#random,
input[type='submit'] {
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 0.5rem 1.75rem;
}

#random {
	background-color: #1070b9;
}

input[type='submit'] {
	background-color: #a12b28;
}

/* Word Definition Section */
.word-result {
	padding: 3rem;
	margin-bottom: 5rem;
}
